body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #220000 !important;
}

#quote-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Sayfanın tamamını kaplaması için */
}

#quote-container {
  max-width: 600px; /* Quote içeriğinin maksimum genişliği */
  text-align: center; /* Metinleri ortalamak için */
  padding: 20px;
  background-color: #f8f9fa46; /* Quote kutusu arka plan rengi */
  border-radius: 8px;
  color: white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.596); /* Hafif bir gölgelendirme */
}

#new-quote {
  margin-top: 20px; /* Yeni alıntı butonunun üst boşluğu */
  margin-bottom: 10px; /* Yeni alıntı butonunun alt boşluğu */
  width: 200px; /* Buton genişliği */
}

#tweet-quote {
  width: 200px; /* Tweet buton genişliği */
}

.spinner-container {
  position: absolute;
  top: 40%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}
